<!-- <ion-view view-title="Onde comprar"> -->
<ion-view view-title='<img class="logo_cabeca" src="img/logo_cabeca.png" />'>
<ion-content>
  <div class="sobre-os-benefícios">
    <p> Conheça mais sobre cada benefício oferecido:</p>
    <ul>
      <li><h4>Hidratação</h4> Os sabonetes hidratantes previnem o ressecamento e opacticidade da pele. Uma pele bem hidratada tem mais luminosidade,
         resiste ao sol, à poluição, assim como a todos os outros tipos de agressões diárias.</li>
      <li><h4>Anti-Acne</h4> Os sabonetes para acne se apresentam como um dos métodos mais simples para tratar as espinhas,
         uma vez que contém em sua composição agentes que ajudam a neutralizar o problema.</li>
      <li><h4>Rejuvenescimento</h4>  Os sabonetes anti-idade melhoram o aspecto da pele e previnem o envelhecimento precoce através
        da ação de compostos anti-oxidantes e anti radicais livres.</li>
      <li><h4>Redução de pelos</h4> Os sabonetes formulados para esse fim reduzem os pelos na area onde sao aplicados continuamente
        e evitam a formação de pelos encravados.</li>
      <li><h4>Esfoliação</h4> A principal característica desses é fazer uma limpeza mais profunda na pele
         esfoliando-a e removendo células mortas.</li>
      <li><h4>Clareamento de manchas</h4> Sabonetes formulados para suavizar e clarear manchas na pele causada pelo sol, acne e outras dermatites.</li>
    </ul>
  </div>
</ion-content>
</ion-view>
