<ion-view view-title='<img class="logo_cabeca" src="img/logo_cabeca.png" />'>
<!-- ajustar espaçamento geral da página -->
<ion-content class ="pagina-sobre">

  <img class="logo_sobre" src="img/logo_sobre.png" alt="logo">
  <!-- ajustar tamanho P -->

  <div class="sobre-nosso-significado">
    <p><strong>Lorem</strong> vem do latim e significa terapia.<p>

      <span>Nosso propósito é fazer com que mais pessoas possam ter praticidade e economia na hora de cuidar de suas peles.</span>

      <span>A maioria dos sabonetes industrializados disponíveis no mercado são fabricados utilizando uma série de produtos químicos que podem acabar provocando alergias e outros malefícios para a pele.</span>

      <span>Nossa solução traz sugestões de onde comprar os ingredientes para que você possa fazer em casa os sabonetes terapêuticos à base de glicerina.</span>
    </div>
  </ion-content>
</ion-view>
