<!-- <ion-view view-title="Onde comprar"> -->
<ion-view view-title='<img class="logo_cabeca" src="img/logo_cabeca.png" />'>
<ion-content>

  <ks-swiper-container initial-slide="4" speed="2000" loop="true" show-nav-buttons="false" slides-per-view="1" space-between="5" pagination-clickable="false" override-parameters="{effect: 'coverflow',coverflow: {rotate: 50,stretch: 0,depth: 100,modifier: 1,slideShadows : false}}">
    <ks-swiper-slide class="swiper-slide" ng-repeat="s in [1,2,3,4]">
      <img ng-src="img/pele_{{s}}.png" width="100%">

    </ks-swiper-slide>
  </ks-swiper-container>


  <!-- <div class="row">
  <div class="col col-40">
  <img src="img/normal.png">
</div>
<div class="col col-60">
<ul>
<li>Brilho natural, suave e macia.</li>
<li>Espessura mediana.</li>
<li>Tem elasticidade.</li>
<li>Tendência para tornar-se seca.</li>
</ul>
</div>
</div>

<div class="row">
<div class="col col-40">
<img src="img/oleosa.png">
</div>
<div class="col col-60">
<ul>
<li>Excesso de oleosidade, brilho intenso.</li>
<li>Poros dilatados.</li>
<li>Espessura grossa e irregular.</li>
<li>Tendência para formar cravos e espinhas.</li>
</ul>
</div>
</div>

<div class="row">
<div class="col col-40">
<img src="img/seca.png">
</div>
<div class="col col-60">
<ul>
<li>Sem brilho e opaca, requer mais cuidados .</li>
<li>Espessura fina e áspera.</li>
<li>Sem poros visíveis.</li>
<li>Tendência para descamar e formar rugas.</li>
</ul>
</div>
</div>

<div class="row">
<div class="col col-40">
<img src="img/mista.png">
</div>
<div class="col col-60">
<ul>
<li>Oleosidade e brilho mais concentrados na zona T(testa,nariz e queixo) com as demais partes secas ou normais.</li>
<li>Poros dilatados na zona T.</li>
<li>Acnes ocasionais.</li>
</ul>
</div>
</div> -->


</ion-content>
</ion-view>
